<div class="mb-sm">
<%= question.body %> 
</div>
<div class="text-sm question-footer">
<div class="text-grey">
<%= l(question.created_at, format: :short) %> 
<p>To: <%= "@#{current_user.nickname}" %></p>
  <p>To: <%= "@#{current_user.nickname}" %></p>
</div>
<div>
<%= link_to fa_icon("pencil 2x"), edit_question_path(question), title: "Change question" %>
<%= button_to fa_icon("trash-o 2x"), question_path(question), method: :delete, title: "Delete question" %>
</div>
</div>