<div class="container">
<% if current_user.present? %>
<div class="mt"><%= render "form", question: @question %> <span><%= link_to "New question", new_question_path, class: "button button-main" %></span></div>
</div>
<div class="container mt-sm">
<h2 class="title-lg">
<%= @questions.count %>
<%= multi(@questions.count, "question", "questions")%>
 </h2>
</div>
<% if user_questions.present?%>
<p>pre</p>
<%end%>
 <% @questions.each do |question|%> 
 <% if current_user.id == question.user_id %>
<div class="mt-sm container">
 <%= render question %> 
</div>
<% end %>
<% end %>
<% end %>



