<%= text_area_tag 'question_body',question.body, class: "form-text-area-answer", readonly: true, rows: 2 %>

<%= form_with model:@answer, local: true,url:question_answers_path(question),method: :post,data: {turbo: false} do |form| %>
  <p class="mb"><%= form.label :body, 'Answer'%></p>
  <p><%= form.text_area :body, rows: 5, class: "form-text-area", value:"Dear #{@nickname}!" %></p>
  <%= form.hidden_field :question_id, value: question.id %>
  <p class="mt"><%= form.submit "Reply", class: "button button-main" %></p>
<% end %>